<div>
	<h1 class="jumbotron">
		Create New Download Request
	</h1>
</div>
<hr>
<div class="s-center blk4">
	<form action="/new" method='post'>
		<p><input type="text" name="post_title" placeholder="Enter Download Title" class="form-control"></p>
		<p><input type="text" name="post_initiatedBy" placeholder="Enter Initiater Name" class="form-control"></p>
		<p>
			<textarea name="post_body" placeholder="Enter Description" class="form-control"></textarea>
		</p>
		<input type="submit" value="submit" class='btn btn-lg btn-success'></input>
	</form>
</div>